
<style>
  .vertical-center {
    alaign-items: center;
  }
    .jumbotron{
      padding: 10%;
    }
</style>


<p id="notice"><%= notice %></p>



<div class="container">
  <div class="page-header">
    <h1>The muchtodo Todolistlist</h1>
  </div>
</div>


<div class="row col-sm-offset-2 vertical-center">

  <% @todolists.each do |todolist| %>

      <div class="col-sm-6">
        <div class="jumbotron">
          <h2><%= todolist.list_title %></h2>
          <ol>
          <% todolist.todoitems.each do |todoinctance| %>
            <li><%= todoinctance.item %></li><br>
          <% end %>
          </ol>
          <p>

          <%= link_to('Show', todolist, :class => 'btn btn-large btn-primary') %>
          <%= link_to('Edit', edit_todolist_path(todolist), :class => 'btn btn-large btn-default') %>
          <%= link_to('Delete', todolist, :class => 'btn btn-large btn-danger', method: :delete, data: { confirm: 'Are you sure?' }) %>


          </p>
        </div>
      </div>

  <% end %>


</div>





<table>
  <thead>
    <tr>
      <th>List title</th>
      <th>Description</th>
      <th>List</th>
      <th>Num of todoitems</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todolists.each do |todolist| %>
      <tr>
        <td><%= todolist.list_title %></td>
        <td><%= todolist.description %></td>
        <td><%= todolist.list_id %></td>
        <td><%= todolist.num_of_todoitems %></td>
        <td><%= link_to 'Show', todolist %></td>
        <td><%= link_to 'Edit', edit_todolist_path(todolist) %></td>
        <td><%= link_to 'Destroy', todolist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todolist', new_todolist_path %>
