<p id="notice"><%= notice %></p>



<p>
  <h2><%= @todolist.list_title %></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @todolist.description %>
</p>



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">  <%= @todolist.list_title %>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>#</th>
      <th>Todo</th>
      <th>Comment</th>
      <th>Done</th>
      <th>Delete</th>
    </tr>
    <% @todolist.todoitems.each do |todoitem| %>
        <tr>
          <td><strong><%= todoitem.id %></strong></td>
          <td><%= todoitem.item %></td>
          <td><%= todoitem.comment %></td>
          <td>
            <%= form_for ([@todolist, @todolist.todoitems.build]) do |f| %>
              <%= f.check_box :done %>
              <%= todoitem.done %></td>
            <% end %>

          <td>
            <%= link_to('Delete', todoitem, :class => 'btn btn-large btn-danger', method: :delete, data: { confirm: 'Are you sure?' }) %>
          </td>

        </tr>

    <% end %>
    <tr>
      <%= form_for ([@todolist, @todolist.todoitems.build]) do |f| %>
        <td><strong>New</strong></td>
        <td><%= f.text_field :item %></td>
        <td><%= f.text_field :comment %></td>
        <td></td>
        <td><%= f.submit %></td>


    <% end %>
    </tr>
  </table>
</div>


<%= link_to('Edit', edit_todolist_path(@todolist), :class => 'btn btn-large btn-warning') %>
<%= link_to('Back', todolist_path, :class => 'btn btn-large btn-primary') %>

