<p id="notice"><%= notice %></p>



<p>
  <h2><%= @todolist.list_title %></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @todolist.description %>
</p>



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">  <%= @todolist.list_title %>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <th>Todo ID</th>
      <th>Todo</th>
      <th>Comment</th>
      <th>Done</th>
      <th>Delete</th>
    </tr>
    <% @todolist.todoitems.each do |todoitem| %>
        <tr>
          <td><strong><%= todoitem.id %></strong></td>
          <td><%= todoitem.item %></td>
          <td><%= todoitem.comment %></td>
          <td>
            <%= form_for([@todolist, @todolist.todoitems.build]) do |f| %>
              <%= check_box("tag", todoitem.id, {checked: todoitem.done}) %>
            <% end %>
            <p><%= todoitem.done %></p>
          </td>
          <td> <%= link_to 'Destroy', todoitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </table>
</div>

<!--link_to destroy is fucking up. assets, application_controller, models, helpers, models and routes has nothing. hints in rake routes-->


      <%= form_for([@todolist, @todolist.todoitems.build]) do |f| %>
    <table class="table">
        <tr>
        <td><strong>New</strong></td>
        <td><%= f.text_field :item %></td>
        <td><%= f.text_field :comment %></td>
        <td></td>
        <td><%= f.submit %></td>
        </tr>

    </table>
    </div>

<% end %>



<%= link_to('Edit', edit_todolist_path(@todolist), :class => 'btn btn-large btn-warning') %>
<%= link_to('Back', root_path, :class => 'btn btn-large btn-primary') %>

<script>


//    var $boxes = $('input[name="tag_23"]:checked');
//    console.log($boxes);

//    $(document).ready(function () {
//    if(document.getElementById('tag_23').checked) {
//        $("p").show();
//    } else {
//        $("p").hide();
//    }
//  });

//    $(document).ready(function(){
//        $("p").click(function(){
//            $(this).hide();
//        });
//    });

    console.log("Heii");


</script>